* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    background: #22212c;
}

.progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ddd;
    height: 30px;
    width: 400px;
    border-radius: 20px;
}

.progress-done {
    width: 0;
    height: 100%;
    font-weight: bolder;
    color: #fff;
    background: linear-gradient(to left, rgb(255,2,140), rgb(240, 199, 230));
    border-radius: 20px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 3px -5px rgb(255,2,140), 0 3px 150px rgb(255, 0 , 140);
    transition: width .5s ease;
}